.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  max-width: 400px;
  background-color: #1a1e1f;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 108px 0px;
  transform: translate(-100%, 0);
  opacity: 0;
  pointer-events: none;
  transition: 400ms;
  z-index: 13;
}

.menu[data-active="true"] {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: all;
}

.close__btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #292b2c;
  border: none;
  outline: none;
  cursor: pointer;
}

.close__btn::before,
.close__btn::after {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
}

.close__btn::before {
  transform: rotate(-45deg);
}

.close__btn::after {
  transform: rotate(45deg);
}

.menu__nav {
  display: grid;
  gap: 48px;
}

.menu__nav ul {
  display: grid;
  list-style: none;
  gap: 48px;
}

.menu__nav li a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #efeee040;
  font-weight: bold;
}

.menu__nav ul li .active {
  color: #facd66;
}

@media (min-width: 1000px) {
  .menu {
    position: sticky;
    top: 80px;
    background-color: initial;
    padding: 0px 0px;
    z-index: initial;
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: all;
    height: fit-content;
  }

  .close__btn {
    display: none;
    pointer-events: none;
  }

  .menu__nav {
    height: 100%;
  }

  .menu__nav ul {
    background-color: #1a1e1f;
    justify-content: center;
    padding: 24px 14px;
    border-radius: 64px;
    gap: 24px;
  }

  .menu__nav li a span {
    display: none;
  }
}
