.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 480px;
  background-color: #1a1e1f;
  z-index: 12;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 108px 0px;
  transform: translate(-100%, 0);
  opacity: 0;
  pointer-events: none;
  transition: 400ms;
}

.menu[data-active="true"] {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: all;
}

.menu__nav {
  display: grid;
  gap: 48px;
}

.menu__nav ul {
  display: grid;
  list-style: none;
  gap: 48px;
}

.menu__nav li a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #efeee040;
  font-weight: bold;
}

.menu__nav ul li .active {
  color: #facd66;
}

@media (min-width: 1000px) {
  .menu {
    position: sticky;
    top: 80px;
    background-color: initial;
    padding: 0px 0px;
    z-index: initial;
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: all;
    height: fit-content;
  }

  .menu__nav {
    height: 100%;
  }

  .menu__nav ul {
    background-color: #1a1e1f;
    justify-content: center;
    padding: 24px 14px;
    border-radius: 64px;
    gap: 24px;
  }

  .menu__nav li a span {
    display: none;
  }
}
